*.swp
Makefile
Makefile.in
configure
aclocal.m4
config.h.in
config.h
config.log
config.status
autom4te.cache
libtool
mkinstalldirs
stamp-h1
install-sh
depcomp
missing
compile
ltmain.sh
.deps
.libs
.dirstamp
stamp-it
*.desktop
POTFILES

# intermediate files
*.o
*.lo
*.la
*.gmo
